* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    text-transform: uppercase;
    color: inherit;
}

header {
    background-color: mediumvioletred;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-lateral {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.bolos{
    display: grid;
    
}

footer {
    background-color: mediumvioletred;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

}